[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
dj-database-url = "*"
gunicorn = "*"
psycopg2-binary = "*"
pillow = "*"
keras = "*"
pandas = "*"
librosa = "*"
comet-ml = "*"
tensorflow-cpu = "*"
ffmpeg = "*"

[dev-packages]

[requires]
python_version = "3.8"
