{% extends './snippets/appBar-and-bottomBar.html' %}

{% comment %} Page title {% endcomment %}
{% block title %}History{% endblock %}

{% comment %} appBar title {% endcomment %}
{% block appBarTitle %}History{% endblock %}

{% comment %} included css and javascript {% endcomment %}
{% block file %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/history/style.css' %}">
{% endblock %}

{% comment %} body content {% endcomment %}
{% block content %}
{% load static %}
<div class="body-container">
      <div class="history-item">
            <span>DATE: 2021/12/05 03:10:00</span>
            <span>RESULT: NEGATIVE</span>
      </div>
      <div class="history-item">
            <span>DATE: 2021/12/02 02:20:00</span>
            <span>RESULT: NEGATIVE</span>
      </div>
      <div class="history-item">
            <span>DATE: 2021/12/01 01:00:00</span>
            <span>RESULT: NEGATIVE</span>
      </div>
</div>
{% endblock %}
</body>
</html>